<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OfficeRent</title>
  <style>

  </style>
</head>
  <div class="background">
  <body>
    <div class="banner">
      <h1>Discover OfficeRent!</h1>
      <p>Your Solution for Finding the Perfect Office Space.</p>
      <a href="#" class="btn-download"></a>
      <img src="/assets/logo.jpeg" alt="OfficeRent Logo" class="app-logo">
      <p>- Explore a wide variety of office spaces.</p>
      <p>- Find places that fit your budget and needs.</p>
      <p>- Easy to use and hassle-free.</p>
      <p>Available on the Web</p>
    </div>
  </div>

  </body>
</html>
