.banner {
  padding: 20px;
  text-align: center;
  color: white;
  height: 65vh;
  background-image:  image-url("office_rent.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
