.card-product {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-actions {
  padding: 30px;
}

.card-product-actions button {
  padding: 10px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.cancel {
  background-color: #ec16165c;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: Bold;
}

.cancel:hover {
  background-color: #ec1616f2;
  color: white;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(2);
}

.status {
  background-color: #87f8a7d7;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30em;
  margin-bottom: 20px;
}
